body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
header
{
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    background-color: #fff;
    opacity: 0.9;
    z-index: 1;
}
header li:hover
{
    height: 70px;
    border-top: 4px solid #02b8dd;
    padding-top: 28px;
   
}
header a:hover
{
    cursor: pointer;
}
.logo
{
    margin-left: 10%;
    padding-top: 10px;
    width: 500px;
    display: flex;
    justify-content: flex-start;
}

@media screen and(max-width:2560px)
{
    #corp
    {
        width: 1920px;
    }
}
#corp
{
    margin: 0px;
    padding:0px;
    width: 1920px;
    display: flex;
    justify-content: center;
    flex-flow: wrap column;
}

a
{
    text-decoration: none;
    text-align: center;
}
h1
{
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 32px;
}
h2
{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
}
header nav
{   
   display: flex;
   justify-content: flex-end;
   position: relative;
   bottom:35px;
   right: 15%;;
   width: 100%;
   

}
header li
{
    list-style: none;
}
header nav ul li
{
    display: inline;
}
header a
{  
    color: rgb(121, 117, 117);
    margin: 15px;
    font-size: 16px;    
}

header ul
{
    margin: 0;
}
#slider
{
    height: 600px;
}
#slider
{
    
    height: 600px;
    width: 100%;
    background: url('images/slider/bg1.jpg') no-repeat;
    background-size: cover;
    display: flex;
    flex: 1;
}
#text-slider
{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-top: 250px;
    margin-left: 20%;
    
}
#text-slider strong
{
    font-size: 32px;
    color: #02b8dd;
}
#text-slider p
{
    color: white;
}
#button
{
    padding-top: 10px;
}
#button a
{
    padding: 10px;
    text-align: center;
    border: 1px solid #02b8dd;
    border-radius: 5px;
    background-color: #02b8dd;
    color: #fff;
}

#nos-services
{
    text-align: center;
    padding: 5px;
}
.line
{
    border-top: 1px solid gray;
    width: auto;
    margin-left: 800px;
    margin-right: 800px;
    justify-content: center;
    display: flex;
}
.rond 
{
    z-index: 3;
    border: 1px solid #02b8dd;
    background-color: #02b8dd;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

#imac
{
   
    background:url('images/main-feature.png') no-repeat;
    display: flex;
    margin-left: 320px;
    vertical-align: middle;
}
  i.fa.fa-line-chart,i.fa.fa-cubes, i.fa.fa-pie-chart
  {      
      color: rgb(78, 177, 213);
  }
  
  .fa.fa-circle-thin
  {
    border: 1px solid rgb(119, 119, 119);
    border-radius: 50%;
    color: white;
  }
  
  .fa-stack.fa-2x .fa.fa-circle
  {
    font-size: 15px;
    position: absolute;
    color: #02b8dd;
    left: 58px;
    top: 25px;
  }
.icon
{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 550px;
}
#ic1
{
    position: relative;
    top: 10px;
}
#txt-ic1
{
    position: relative;
}
#ic3
{
    position: relative;
    bottom: 110px;
}
#txt-ic3
{
    position: relative;
    bottom: 115px;
}
#ic2
{
    position: relative;
    bottom:50px;
}
#txt-ic2
{
    position: relative;
    bottom: 55px;   
}
#logo-3 h3,#logo-3 p
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 630px;
    position: relative;
    bottom: 65px;
}
#sec-corp
{
    display: block;
    height: 600px;
}
#section2
{
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}
#section2 h3 ,#section2 p
{
    text-align: center;
}
li
{
    list-style: none;
}

#menu2 a 
{
    color: black;    
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 6px;
}
.triangle1
{
    margin-left: 20px;
    visibility: hidden;
    position: absolute;
    padding: 14px;
    width:0px;
    border:10px solid transparent;
    border-top:10px solid #5383b4;
}

#menu2  
{
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    color: black;
    align-content: center;
    justify-content: center;
    height: 85px;
}
#menu2 ul
{
    display: flex;   
}
#menu2 li
{
    padding: 10px;
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
}
@media screen and (max-width:500px)
{
    body{width: 100%;margin: 0;padding: 0;}
    .imac{margin-left: 0px;}
    #corp{width: 500px;}
    #sec-corp{width: 500px;}
}

@keyframes fadein {
    from { opacity: 0.2; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0.2; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0.2; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0.2; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0.2; }
    to   { opacity: 1; }
}
#menu2 li:hover
{
    background:linear-gradient(to top, #5383b4 0%,#02b8dd 8%);
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}
#menu2 li:first-child
{  
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#menu2 li:last-child
{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#menu2 a:hover .triangle1,#menu2 a:hover .triangle2,#menu2 a:hover .triangle3,#menu2 a:hover .triangle4 
{
    visibility: visible;
}
#menu2 a:hover
{
    color: #fff;
}

#portfolio
{
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.img-size p
{
    color: white;
    opacity: 0;
}
.img-size h4
{
    font-size: 20px;
    z-index: 2;
    color: white;
}
.img-size #item-1
{
    position: absolute;
    top: 1615px;
    left:210px;
    visibility: hidden;
}
.img-size p#p-1
{
    position: absolute;
    top: 1665px;
    left: 210px;
}


.img-size #item-2
{
    position: absolute;
    top: 1615px;
    left:610px;
    visibility: hidden;
}
.img-size p#p-2
{
    position: absolute;
    top: 1665px;
    left: 610px;
}
.img-size #item-3
{
    position: absolute;
    top: 1615px;
    left:1010px;
    visibility: hidden;
}
.img-size p#p-3
{
    position: absolute;
    top: 1665px;
    left: 1010px;
}
.img-size #item-4
{
    position: absolute;
    top: 1615px;
    left:1410px;
    visibility: hidden;
}
.img-size p#p-4
{
    position: absolute;
    top: 1665px;
    left: 1410px;
}
.img-size #item-5
{
    position: absolute;
    top: 1880px;
    left:210px;
    visibility: hidden;
}
.img-size p#p-5
{
    position: absolute;
    top: 1925px;
    left: 210px;
}
.img-size #item-6
{
    position: absolute;
    top: 1880px;
    left:610px;
    visibility: hidden;
}
.img-size p#p-6
{
    position: absolute;
    top: 1925px;
    left: 610px;
}
.img-size #item-7
{
    position: absolute;
    top: 1880px;
    left:1010px;
    visibility: hidden;
}
.img-size p#p-7
{
    position: absolute;
    top: 1925px;
    left: 1010px;
}
.img-size #item-8
{
    position: absolute;
    top: 1880px;
    left:1410px;
    visibility: hidden;
}
.img-size p#p-8
{
    position: absolute;
    top: 1925px;
    left: 1410px;
}
/*
    bordure au fond noir 
*/
#img1
{
    z-index: 2;
    position: absolute;
    top:1635px;
    left: 204px;
    height: 85px;
    width: 348px;
    border: 1px solid black;
    background-color: black;
    opacity: 0.4;
    visibility: hidden;
}
#img2
{
    z-index: 2;
    position: absolute;
    top:1635px;
    left: 602px;
    height: 85px;
    width: 348px;
    border: 1px solid black;
    background-color: black;
    opacity: 0.4;
    visibility: hidden;
}
#img3
{
    z-index: 2;
    position: absolute;
    top:1635px;
    left: 1002px;
    height: 85px;
    width: 348px;
    border: 1px solid black;
    background-color: black;
    opacity: 0.4;
    visibility: hidden;
}

#img4
{
    z-index: 2;
    position: absolute;
    top:1635px;
    left: 1404px;
    height: 85px;
    width: 348px;
    border: 1px solid black;
    background-color: black;
    opacity: 0.4;
    visibility: hidden;
}
#img5
{
    z-index: 2;
    position: absolute;
    top:1901px;
    left: 204px;
    height: 85px;
    width: 348px;
    border: 1px solid black;
    background-color: black;
    opacity: 0.4;
    visibility: hidden;
}
#img6
{
    z-index: 2;
    position: absolute;
    top:1901px;
    left: 602px;
    height: 85px;
    width: 348px;
    border: 1px solid black;
    background-color: black;
    opacity: 0.4;
    visibility: hidden;
}
#img7
{
    z-index: 2;
    position: absolute;
    top:1901px;
    left: 1004px;
    height: 85px;
    width: 348px;
    border: 1px solid black;
    background-color: black;
    opacity: 0.4;
    visibility: hidden;
}
#img8
{
    z-index: 2;
    position: absolute;
    top:1903px;
    left: 1404px;
    height: 85px;
    width: 348px;
    border: 1px solid black;
    background-color: black;
    opacity: 0.4;
    visibility: hidden;

}

#portfolio img
{
    width: 350px;
    height: 233px;
    padding-left: 50px;
    padding-top: 30px;
}
i.fa-eye
{
    padding: 13px;
    color: white;
    border: 2px solid white;
    border-radius: 100%;
    background-color: #5383b4;
}
#oeil1
{
    z-index: 3;
    position: absolute;
    top: 1610px;
    left:500px;
    visibility: hidden;
}
#oeil2
{
    z-index: 3;
    position: absolute;
    top: 1610px;
    left:900px;
    visibility: hidden;
}
#oeil3
{
    z-index: 3;
    position: absolute;
    top: 1610px;
    left:1300px;
    visibility: hidden;
}
#oeil4
{
    z-index: 3;
    position: absolute;
    top: 1610px;
    left:1700px;
    visibility: hidden;
}
#oeil5
{
    z-index: 3;
    position: absolute;
    top: 1877px;
    left:500px;
    visibility: hidden;
}
#oeil6
{
    z-index: 3;
    position: absolute;
    top: 1877px;
    left:900px;
    visibility: hidden;
}
#oeil7
{
    z-index: 3;
    position: absolute;
    top: 1877px;
    left:1300px;
    visibility: hidden;
}
#oeil8
{
    z-index: 3;
    position: absolute;
    top: 1877px;
    left:1700px;
    visibility: hidden;
}
.img-size:hover p
{
    z-index: 2;
    opacity: 1;
}
.img-size:hover #item-1,.img-size:hover #item-2,.img-size:hover #item-3,.img-size:hover #item-4,.img-size:hover #item-5,.img-size:hover #item-6,.img-size:hover #item-7,.img-size:hover #item-8
{
    visibility: visible;
}
#portfolio .img-size:hover #img1,#portfolio .img-size:hover #img2,#portfolio .img-size:hover #img3,#portfolio .img-size:hover #img4,#portfolio .img-size:hover #img5,#portfolio .img-size:hover #img6,#portfolio .img-size:hover #img7,#portfolio .img-size:hover #img8
{
    z-index: 2;
    visibility: visible;
}
#portfolio .img-size:hover #oeil1,#portfolio .img-size:hover #oeil2,#portfolio .img-size:hover #oeil3,#portfolio .img-size:hover #oeil4,#portfolio .img-size:hover #oeil5,#portfolio .img-size:hover #oeil6,#portfolio .img-size:hover #oeil7,#portfolio .img-size:hover #oeil8
{
    visibility: visible;
    z-index: 3;
}
iframe
{
    width: 100%;
    padding-top: 30px;
}
#formulaire-contact
{
    display: block;
    padding-left: 20px;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    border: 1px solid #fff;
    background-color: #fff;
    position: absolute;
    height: 445px;
    width: 300px;
    left: 1300px;
    top: 2200Px;
}
#formulaire-contact p
{
    font-size: 14px;
}
footer p
{
    margin: 0%;
    padding: 0%;
}
#formulaire-contact h5
{
    font-size: 20px;
}

#subject, #name,#mail
{
    height: 25px;
    margin-top: 5px;
    width: 225px;
}
#message
{
    margin-top: 5px;
}
#info-contact
{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: left;
}
#info-contact p:first-of-type
{
    font-weight: bold;
}
#button-message
{
    padding-top: 10px;
}
#button-message a
{
    border: 1px solid transparent;
    width: 120px;
    text-align: center;
    padding: 7px;
    color: #fff;
    background:linear-gradient(to top, #5383b4 0%,#02b8dd 8%);
}
