.wrapper {
    width: 1920px;
    display: flex;
    margin:auto;
}

body { 
    margin:0px;
    padding:0px;
    background:black;
}
@font-face {
    font-family: coolfont;
    src:url('/font/TOMATOES Personal Use.ttf');
}
header {
    background-color: #141525;
    position: fixed;
    width: 1920px;
    display: flex;
    z-index: 3;
}

header h1 { 
    font-family: coolfont;
    padding: 3px;
    padding-left: 20%;
    width: 600px;
    color:#fff;
    opacity: 0.8;
}
header nav ul {
    display: flex;
    font-family: coolfont;
    font-size: 1.3em;
    margin-left: 100%;
    padding-top: 15px;

}
header nav ul li {
    list-style: none;
}
header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    font-weight: bold;
    opacity: 0.8;
}
header nav ul li a:hover {
    opacity: 1;
}

.section {
    display: flex;
    flex-direction: column;
    align-content: center;

    background: url('/image/slider.jpg');
    background-repeat: no-repeat;

    width: 1920px;
    height: 800px;
}
.slider {
    color: #fff;
    font-family: coolfont;
    display: flex;
    font-size: 3em;

    margin: auto;
    margin-left: 35%;
    margin-top: 15%; 

}
.section-btn {
    background-color: #20223D;
    color:#fff;
    border: transparent;
    border-radius: 100%;
 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity: 0.9;
    
    width: 60px;
    height: 60px;

    padding: 10px;
    margin-bottom: 17.5%;
    margin-left: 47.5%;

   
}
.section-btn .fa-angle-double-down{
    font-size: 2.5em;
}

.content {
    display: flex;
    border: 1px solid #141525;
    background-color: #141525;

    width: 1920px;
    height: 600px;

    padding-top: 25px;
}
.web-design {
    display: flex;
    flex-direction: column;
    
    margin-left: 5%;
    height: 700px;


    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
   
}
.web-design h2, .price h2{

    color:white;
    background-color: #222442;

    border: 1px solid #222442;
    border-radius: 10px 10px 0px 0px;

    height: 40px;
    width: 750px;


    text-align: center;
    opacity: 0.8;
    padding: 10px;
}
.web-design .web-design-content, .price-content{
    color:white;
    background-color: #222442;

    border: 1px solid #222442;
    border: 0px 0px 10px 10px;

    position: relative;
    bottom:45px;

    line-height: 40px;
    opacity: 0.8;

    width: 750px;
    height: 400px;

    padding: 10px;
    padding-top: 20px;
}
.logo {
    color:#fff;


   
    position: relative;
    bottom: 240px;
    width: 60px;
    margin-left: 7%;

}

.fa-chart-line
{
    background-color: #FF4700;
    border:1px solid #FF4700;
    border-radius: 100%;
    padding: 20px;

    font-size: 2em;
}
.Productivity{
    color: #fff;
    display: flex;
    position: relative;
    bottom: 330px;
    left: 200px;
    align-content: center;
}
.Productivity p
{
    border:1px solid #FF4700;
    background-color: #FF4700;
    border-radius: 7%;
    padding: 20px;
    padding-bottom: 40px;

}
.Productivity .fa-comment
{
   opacity: 0.8;
}
.price {
    display: flex;
    flex-direction: column;
    
    margin-left: 53%;
    height: 610px;
    width: 750px;
    position: relative;
    bottom: 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em; 
}
.contact-me {
    color: #fff;
    display: flex;
    position: relative;
    bottom: 190px;
    width: 300px;
    left: 450px;
    align-content: center;
}
.content {
    padding-top: 100px;
}
body {
    height: 1400px;
}
article {
    
    display: block;
}
.contact-me p {
    border:1px solid #FF4700;
    background-color: #FF4700;
    border-radius: 7%;
    padding: 20px;
    padding-bottom: 40px;
    width: 150px;
    position: relative;
}
.contact-me .fa-handshake {
    position: relative;
    z-index: 2;
    top: 45px;
    left: 177px;
}
footer {
    background-color: #A7A390;
    display: flex;
    position: relative;
    color: #fff;
    bottom: 600px;
    height: 300px;
    width: 1920px;
    font-family: Arial, Helvetica, sans-serif;
}
footer p {
  color: #fff;
  display: flex;
  margin: auto;
  font-size: 1.5em;
}
