.wrapper1{
    width: 1920px;
    
    margin: auto;
    display: flex;
}
#body{
    display: flex;
    flex-direction: column;
}
body{
    margin:0px;
    padding:0px;
}
@font-face
{
    font-family: coolfont;
    src:url('/font/TOMATOES Personal Use.ttf');
}
header{
    background-color: #141525;
    position: fixed;
    display: flex;
}
header h1
{ 
    font-family: coolfont;
    padding: 3px;
    padding-left: 20%;
    width: 500px;
    color:#fff;
    opacity: 0.8;
}
header nav ul{
    display: flex;
    font-family: coolfont;
    font-size: 1.3em;
    margin-left: 120%;
    padding-top: 15px;

}
header nav ul li{
    list-style: none;
}
header nav ul li a
{
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    font-weight: bold;
    opacity: 0.8;
}
header nav ul li a:hover{
    opacity: 1;
}
section .wrapper{
    z-index: 3;
    margin-top: 122px;
    background: url('/image/slider.jpg');
    background-repeat: no-repeat;
    height: 900px;
}
.section{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.section h2{
    color: #fff;
    font-family: coolfont;
    display: flex;
    font-size: 3em;
    margin: auto;
    margin-left: 35%;
    margin-top: 25%; 
    width: 1000px;
}
.section button{
    background-color: #141525;
    color:#fff;
    border: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity: 0.9;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    width: 100px;
    height: 40px;
    margin-bottom: 48%;
    margin-left: 35%;
}
.section button:hover{
    opacity:1;
    box-shadow: 0px 0px 2px 0px #fff;
}