
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
header
{
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    background-color: #fff;
    opacity: 0.9;
    z-index: 1;
}
.logo
{
    margin-left: 50px;
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
}

@media screen and(max-width:2560px)
{
    #corp
    {
        width: auto;
    }
}

#corp
{
    margin: 0px;
    padding:0px;
}
ul 
{
    margin: 0;
}
a
{
    text-decoration: none;
    text-align: center;
}
h1
{
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 32px;
}
h2
{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
}
header nav
{   
   display: inline-flex;
   justify-content: flex-end;
   position: absolute;
   top:35px;
   right: 40px;;
   width: 100%;
   

}
header li
{
    list-style: none;
}
header nav ul li
{
    display: inline;
}
header nav ul li a
{  
    color: rgb(121, 117, 117);
    margin: 15px;
    font-size: 16px;    


}
#slider
{
    height: 600px;
}
#slider
{
    
    height: 600px;
    width: 100%;
    background: url('images/slider/bg1.jpg') no-repeat;
    background-size: cover;
    display: flex;
    flex: 1;
}
.text-slider
{
    margin-top: 250px;
    margin-left: 50px;
}
.text-slider strong
{
    font-size: 32px;
    color: #02b8dd;
}
.text-slider p
{

    color: white;
}
#button
{
    padding-top: 10px;

}
#button a
{
    padding: 10px;
    text-align: center;
    border: 1px solid #02b8dd;
    border-radius: 3px;
    background-color: #02b8dd;
    color: #fff;
}
#nos-services p
{
    text-align: center;
    padding: 5px;
}
.line
{
    border-top: 1px solid gray;
    opacity: 0.2;
    margin-left: 600px;
    margin-right: 600px;
}
.rond p 
{
 border: 1px solid #02b8dd;
 background-color: #02b8dd;
 position: absolute;
 left: 700px;
 top: 667px;
 border-radius: 100%
 
}
.imac
{
    background:url('images/main-feature.png') no-repeat;
}

.logo-3
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 525px;
    position: absolute;
    top: 755px;
}
.logo-3 span
{
    display: flex;
    padding-top: 30px;
}
.fa.fa-line-chart, .fa.fa-cubes, .fa.fa-pie-chart{      /*logo icones*/
color: rgb(78, 177, 213);
}

.fa.fa-circle-thin{
border: 1px solid rgb(119, 119, 119);
border-radius: 50%;
color: white;

}

.fa-stack.fa-2x .fa.fa-circle{
font-size: 15px;
position: absolute;
color: #02b8dd;
left: 58px;
top: 50px;
}

